@media only screen and (min-width: 650px)
{
    #logo, h1, motto
    {
        margin: 1rem;
        font-size: 2em;
    }

    nav button {display: none;}

    nav ul {margin-left: 2%;}

    ul
    {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

  .primarynav li
    {
    /*    float: left;  */
        display: block;
        margin-right: 2rem;
    }
   
    .primarynav li:first-child
    {
        display: none;
    }

    .active {
        justify-content: center;
        padding: .8em 1em .5em;
        margin: -.8em -1em 0;
    }
   
    .w3-container
    {
        display: inline-block;
        border: 1px solid black;
        text-align: center;
        padding: 5px;
        margin-top: auto;
    }

    .fiveday {
        margin: -2rem auto 1em;
        width: 700px;
        text-align: center;
    }

    .w3-container h4
    {
        display: block;
        background-color: #008080;
        color: #fff;
        padding: .5rem 2rem .5rem;
    }

    .w3-container {
        border: 2px;
        border: #a9a9a9;
        border-style: ridge;
        padding: 0 1rem 0;
        margin: 1rem 0 1rem;
    }

   #forecast
    {
        display: block;
        border: none;
        text-align: center;
        margin-top: -3rem;
    }

    .articleimg 
    {
        float: right;
        max-width: 30vw;
        height: auto;
        box-shadow: 0px 0px 40px #a9a9a9;
    }

    iframe {
        width: 90% !important;
        min-height: 35rem !important;   
    }

    .gallery {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }

    .gallery h2 {
        grid-column: 1 / 4;
        padding: 0 0 0 1rem;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    }
   
    /* .mytowns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0;
    } */

    figure:hover {
        box-shadow: 0 0 20px #a9a9a9;
    }

    figcaption {
        display: contents;
        font-style: italic;
    }

    .foot {
        min-height: 800px;
    }

    form fieldset {
        max-width: 70%;
    }

    form label {
        display: block;
        padding: .6rem;
        width: 60%
    }

    input[type=submit] {
        width: 40%
    }
}

